{% extends 'base/sidebar.html' %}

{% block tablas %}

<div class="table-responsive-xs">
    <table class="table table-light">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Column 1</th>
                <th scope="col">Column 2</th>
                <th scope="col">Column 3</th>
                <th scope="col">Column 4</th>
                <th scope="col">Column 5</th>
                <th scope="col">Column 6</th>
                <th scope="col">Column 7</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td>R1C1</td>
                <td>asdsadasd</td>
                <td>R1C3</td>
                <td>R1C4</td>
                <td>R1C5</td>
                <td>R1C6</td>
                <td>R1C7</td>
            </tr>
            <tr class="">
                <td>R1C1</td>
                <td>R1C2</td>
                <td>R1C3</td>
                <td>R1C4</td>
                <td>R1C5</td>
                <td>R1C6</td>
                <td>R1C7</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}